<form #frmAcceso="ngForm" class="form-enable">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">Datos de acceso</div>
      <div class="card-body">
        <div class="form-group">
          <label>correo:</label>
          <input
            name="inp_correo"
            #inp_correo="ngModel"
            type="text"
            class="form-control"
            [(ngModel)]="usuario.correo"
            required="true"
          />
          <div>
            <span class="text-danger" *ngIf="inp_correo.invalid"
              >*El correo es obligatorio</span
            >
          </div>
        </div>
        <div class="form-group">
          <label>Contraseña:</label>
          <input
            name="inp_contrasena"
            #inp_contrasena="ngModel"
            type="password"
            class="form-control"
            [(ngModel)]="usuario.contrasena"
            required="true"
          />
          <div>
            <span class="text-danger" *ngIf="inp_contrasena.invalid"
              >*La contraseña es obligatoria</span
            >
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          class="btn btn-success"
          (click)="ingresar(frmAcceso)"
          [disabled]="frmAcceso.invalid"
        >
          Ingresar
        </button>
      </div>
    </div>
  </div>
</form>
